# Sekrety
.env
server/.env

# Node
node_modules/
npm-debug.log*
server/updates/files/
server/updates/manifest.json

# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/

# IDE / system
.idea/
.vscode/
*.iml
Thumbs.db
.DS_Store
